body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

#wrapper {
  min-height: 90vh;
  display: flex;
  flex-flow: nowrap row;
}

#note-content {
  box-sizing: border-box;
  font-size: 18px;
  line-height: 1.75rem;
  padding: 1em;
  min-height: 70vh;
  height: auto;
  margin: 4rem 15%;
  width: 70%;
  box-shadow: 0 0 .4rem rgba(0,0,0,0.35);
  background: #eadfc0;
  border: 1px solid rgba(66, 79, 90, 0.5);
  display: flex;
  flex-grow: 3;
  flex-basis: 0;
}

#links {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #4a4a4f;
  box-shadow: 0 0 .4rem rgba(0,0,0,0.35);
}

#links>a {
  font-size: 32px;
  margin: 8px 3.5rem;
}

a {
  display: flex;
  text-decoration: none;
  font-weight: normal;
  margin: 8px 16px;
  color: white;
  font-family: "Fira Sans";
}

a:hover {
  border-bottom: 1px white solid;
  transition: .15s;
}

#toggle {
  background: transparent;
  border: none;
  display: flex;
  cursor: pointer;
  font-weight: normal;
  margin: 8px 16px;
  color: white;
  font-family: "Fira Sans";
  font-size: 32px;
}

#toggle:hover {
  border-bottom: 1px white solid;
  transition: .15s;
}

#topsites {
  border-top: 2px solid #0a84ff;
  background: rgba(12, 12, 13, .8);
  box-shadow: 0 .4rem .4rem rgba(0,0,0,0.35);
  flex-grow: 1;
  flex-basis: 0;
  display: none;
  transition: all 1s ease-out;
}

#site-list {
  display: flex;
  justify-content: center;
}

.list-group {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0;
}

.list-group-item {
  display: flex;
  font-size: 24px;
  margin: 0 4px;
}
